@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    font-family: "Montserrat";
    font-size: 62.5%;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

}

body{
    background-color: #ffecd6;
    height: 100vh;
    width: auto;  
    overflow-x: hidden;
    overflow-y: scroll;
}



header img{
    width: 100%;
    position: absolute;
    height: auto;
    
}

p#text-header{
    color: #ffffff;
    font: bold 4vw "Montserrat";
    position: relative;
    padding-top: 3%;
}

main{
    width: 80vw;
    height: auto;
    margin: 8% 10% 5%;
    display: block;
    justify-content: center;
    align-items: center;

}

figure{
    display: flex;
    justify-content: space-between;
    margin-left: -3%;
}


figure.figtwo{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

figcaption a{
    font-size: 1.3vw;
    font-weight: 700;
    color: #807571;
}

figcaption a:hover{
    color: #80574b
}

main figure img{
    width: 12%;
}

main figure img.img1{
    margin-left: 4%;
}
main figure img.img2{
    margin-left: 3.2%;
}
main figure img.img3{
    margin-right: 2.5%;
}

div.container{
    display: none;
}


h1{
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    font-style: italic;
    color: #807571;
    margin-top: -2.4%;
}

p{
    color: #807571;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 300;
    font-style: italic;
}

p a{
    color: #80574b;
    font-weight: 500;
    text-decoration-line: underline;
    transition: color 0.5s;
}

p a:hover{
    color: #ffaf96;
}

footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer a button{
    border: 0;
    border-radius: 5vw;
    background-color: #ffaf96;
    color: #ffffff;
    margin-top: 2%;
    width: 10%;
    height: 2em;
    font-size: 1.2vw;
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 500;
    transition: background 1s;
    
}

button:hover{
    background-color: #80574b;
   
}

section.chiefs{
    height: auto;
    width:100%;
    background-color: #80574b;
    margin-top: 5%;
    padding: 2% 2% 2% 2%;
}

div.chiefwoman{
    display: flex;
}

section.chiefs img{
    width: 15%;
}

div.chiefwoman p{
    color: #ffecd6;
    text-indent: 0%;
    margin-left: 2%;
    text-align: left;
    font-style: italic;
}

div.chiefwoman p::first-line{
    font-weight: 600;
    font-size: 2vw;
}

div.khadif {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}
div.khadif img{
    margin-right: -3%;
}

div.khadif p{
    color: #ffecd6;
    text-indent: 0%;
    text-align: right;
    margin-left: 37.5%;
    font-style: italic;
}

div.khadif p::first-line{
    font-weight: 600;
    font-size: 2vw;
}

.end{
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 1%;
    font-weight: 600;
    color:  #80574b;
}









@media (max-width: 620px) {
    main{
        display:none;
        height:0;
        width: 0;
        padding: 0;
        margin: 0;
    }
    
    div.container{
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    div img{
        width: 20%;
    }

    div a {
        font-size: 2.5vw;
        font-weight: 700;
        color: #807571;
    }

    div a:hover{
        color: #80574b;
    }

    div.container img.imgsmall1,
    div.container img.imgsmall2,
    div.container img.imgsmall3{
        padding-bottom: 2%;
    }

    div.container img.imgsmall2,
    div.container img.imgsmall3{
        padding-top: 2%;
    }

    div.container a.lastlink{
        padding-bottom: 5%;
    }

    h1{
        font-size: 3vw;
    }

    section p{
        font-size: 2.5vw
    }

    footer button{
        height: 3em;
        width: 30%;
        margin-bottom: 3%;
        font-size: 2vw;
    }

    section.chiefs{
        display: block;
    }

    div.chiefwoman{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    div.chiefwoman p{
        text-align: center;
        font-size: 2vw;

    }

    div.chiefwoman p::first-line{
        font-size: 3vw;
    }

    div.khadif{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    div.khadif p{
        text-align: center;
        font-size: 2vw;
        order: 2;
        margin: 0;

    }

    div.khadif p::first-line{
        font-size: 3vw;
    }
    div.khadif img{
        margin-top: 3%;
    }
    
}