@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    font-family: "Montserrat";
    font-size: 62.5%;

}

*{
    margin: 0;
    box-sizing: border-box;
  

}

body{
    background-color: #ffecd6;
    height: 100vh;
    width: auto;  
    overflow-x: hidden;
}



header img{
    width: 100%;
    position: absolute;
    height: auto;
    
}

p#text-header{
    color: #ffffff;
    font: bold 4vw "Montserrat";
    position: relative;
    padding-top: 3%;
    text-align: center;
}

main{
    width: 90vw;
    height: auto;
    margin: 8% auto auto;
    color: #807571;
}

main h1{
    text-align: center;
    font-size: 2.5vw;
    margin-bottom: 1.8vh;
}

main ul, li{
    padding: auto;
    margin: auto;
}
main p{
    margin-bottom: 1.2vh;
}

u {
    color: #80574b;
}

main li{
    margin-bottom: 1vh;
}


main ul, li, p{
    font-size: 1.5vw;
    font-weight: 600;
}


main ul#ingredientes{
    margin-bottom: 5vh;
}

section{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh
}

div.video{
    margin-top: 5vh;
    width: 50%;
    height: 50vh;
}

div.video h1{
    font-size: 2vw;
    text-align: center;
    color: #807571;
    margin-bottom: 2vh;
}

div.video iframe{
    width: 100%;
    height: 100%;
}

div.video a, div.video p{
    color:#807571;
    font-size: 1.2vw;
    margin-bottom: 1vh;
}

div.video a{
    text-decoration: underline;
}

div.video a:hover{
    color: #80574b;
}

div#return{
    text-align: center;
   
}

div#return a{
    color: #80574b;
    font-size: 0.8vw;
}

div#return a:hover{
    color: #807571;
}